body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero1 {
position: absolute;
width: 468px;
height: 60px;
left: 136px;
top: 301px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;

/* or 143% */

color: #000000;
}

.hero2 {
    /* Sewa & Rental Mobil Terbaik di kawasan (Lokasimu) */

position: absolute;
width: 568px;
height: 108px;
left: 136px;
top: 177px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 36px;
/* or 54px */

color: #000000;


}

.mobil {
/* Mercedes Car EQC 300kW Edition - 900x598 1 */

position: absolute;
width: 500px;
height: 407px;
left: 700px;
top: 97px;

}

.girl {

    /* Happy Girl - 961x1443 1 */

position: absolute;
min-height: 242px;
width: 200px;
left: 189px;
top: 0px;
margin-top: 495px;
margin-left: 120px;
border-bottom-left-radius: 70%;
border-bottom-right-radius:70%;

}

.circle18 {

position: absolute;
width: 200px;
height: 562px;
left: 189px;
top: 0px;
margin-top: 350px;
margin-left: 120px;
}

.circle19 {

    position: absolute;
    width: 70px;
    height: 102px;
    left: 99px;
    top: 0px;
    margin-top: 480px;
    margin-left: 120px;
    }

    .circle20 {

        position: absolute;
        width: 30px;
        height: 102px;
        left: 170px;
        top: 0px;
        margin-top: 660px;
        margin-left: 120px;
        }
.bg1 {
/* bg */
width: 1500px;
height: 400px;
padding-bottom: 5px;

background-color: #F1F3FF;
}

.circle21 {
    position: absolute;
    width: 15px;
    height: 102px;
    left: 170px;
    top: 0px;
    margin-top: 460px;
    margin-left: 290px;
}

.container-fluid {
    background-color: #F1F3FF;
}

.navbar {
    padding: 0%;
}
.girl1 {
    justify-content: left;
}
#hero {
    width: 468px;
    height: 80px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
#hero > h1 {
width: 568px;
height: 72px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 6px;
/* or 150% */
}

#div1 {
width: 50%;
    justify-content: center;
    float: right;
    background-color: blue;
}

#div2 {
    width: 50%;
    float: left;
}